 #container {
            display: flex;
            justify-content: center;

        }

        #Calculator {
            /* border: 10px solid rgb(4, 138, 6); */
            border: 10px solid; 
            border-image: linear-gradient( rgb(1, 7, 114), black, red, pink, yellow , rgb(6, 173, 198), green, rgb(174, 2, 145))1;

            width: 250px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: black;
            /* background-image: linear-gradient(#00ff00, #ff0000, #0000ff, #0091d0, #e1fe0600, pink, rgb(205, 15, 218)); */

        }

        #display {
            margin: 10px;
            height: 32px;
            width: 250px;
            border: 2px solid;
            border-radius: 3px;
        }

        #display:focus {
            border-color: lightgreen;
            outline: none;
        }

        .cal_button {
            width: 50px;
            height: 50px;
            margin: 3px;
            font-weight: bold;
            border: none;
            border-radius: 5px;

        }

        .cal_button:active {
            background-color: lightgreen;
        }

        #dot {
            font-size: x-large;
            display: flex;
            justify-content: center;
            background-color: rgb(194, 238, 255);

        }

        #dot:active {
            background-color: rgb(68, 149, 112);
        }

        #clr {
            background-color: rgb(194, 238, 255);
        }

        #clr:active {
            background-color: red;
        }

        #div {
            background-color: rgb(194, 238, 255);
        }

        #div:active {
            background-color: rgb(68, 149, 112);
        }

        #mul:active {
            background-color: rgb(68, 149, 112);
        }

        #mul {
            background-color: rgb(194, 238, 255);
        }

        #del {
            background-color: rgb(194, 238, 255);
        }

        #del:active {
            background-color: rgb(68, 149, 112);
        }

        #sub {
            background-color: rgb(194, 238, 255);
        }

        #sub:active {
            background-color: rgb(68, 149, 112);
        }

        #add {
            background-color: rgb(194, 238, 255);
        }

        #add:active {
            background-color: rgb(68, 149, 112);
        }

        #equal {
            background-color: rgb(194, 238, 255);
        }

        #equal:active {
            background-color: green;
        }

        #ex {
            background-color: rgb(194, 238, 255);
        }

        #ex:active {
            background-color: rgb(68, 149, 112);
        }

        #rem {
            background-color: rgb(194, 238, 255);
        }

        #rem:active {
            background-color: rgb(68, 149, 112);
        }

        .but_container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 10px;
        }
    